<h1>Angular</h1>
<!-- <app-authors></app-authors> -->

<!-- <favorite [is-favorite] = "post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->

<!-- <favorite></favorite> -->

<!-- <app-input-printer></app-input-printer> -->

<!-- <app-bootstrap-panel>
    <ng-container class="heading">
        Heading
    </ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content...</p>
    </div>
</app-bootstrap-panel> -->

<!-- <app-like
    [likesCount] = "tweet.likesCount"
    [isLiked] = "tweet.isLiked"
    (likeChange) = "OnLikeChangeCalled($event)"
></app-like> -->

<!-- updated with else which is angular 4+ syntax -->
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>

<ng-template #coursesList>
    List of Courses:
    <ul>
        <li *ngFor="let course of courses">{{ course }}</li>
    </ul>
</ng-template>
<ng-template #noCourses>
    No courses avaiable yet.
</ng-template>